
<div class="row">
<div class="condense">
  <div class="col-sm-4">
    <h3><a href="#">Training and Events</a></h3>
    <p>Looking for special training or events, or holding an event or training opportunity? See the options here.</p>
    <ul>
      <li><span><a href="#">Search Training & Events</a></span></li>
      <li><span><a href="#">Post Training and Events Information</a></span></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3><a href="#">Volunteering</a></h3>
    <p>Looking for volunteers, or would you like to volunteer yourself? Search for opportunities here.</p>
    <ul>
      <li><span><a href="#">Post an Opportunity</a></span></li>
      <li><span><a href="#">Find an Opportunity</a></span></li>
      <li><span><a href="#">Register as a Volunteer</a></span></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3><a href="#">Jobs</a></h3>        
    <p>Are you looking for work? Jobs being offered in Buckinghamshire can be found here.</p>
    <ul>
      <li><span><a href="#">Want to Advertise a Job?</a></span></li>
      <li><span><a href="#">Looking for a Job?</a></span></li>
      <li><span><a href="#">Receive Updates</a></span></li>
    </ul>
  </div>
  </div>
</div>
<div class="row">
<div class="condense">
  <div class="col-sm-4">
    <h3><a href="#">Support and Advice</a></h3>
    <p>We have hundreds of documents and resources providing advice and support, available here.</p>
    <ul>
      <li><span><a href="#">Read Documents</a></span></li>
      <li><span><a href="#">Post Documents</a></span></li>
      <li><span><a href="#">Latest Documents</a></span></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3><a href="#">Trading</a></h3>
    <p>Looking for a specific service or product to support your organisation? This section allows organisations from all sectors to trade with each other.</p>
    <ul>
      <li><span><a href="#">Find a Trader</a></span></li>
      <li><span><a href="#">Register as a Trader</a></span></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3><a href="#">Jobs</a></h3>        
    <p>Are you looking for work? Jobs being offered in Buckinghamshire can be found here.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  </div>
</div>